<launch>

  <!--<include file="$(find cartographer_turtlebot)/launch/turtlebot_sim_localisation.launch"/>-->
  <include file="$(find cartographer_turtlebot)/launch/pointcloud_to_laserscan.launch"/>

  <include file="$(find turtlebot_navigation)/launch/includes/amcl/amcl.launch.xml">
    <arg name="use_map_topic" value="true"/>
    <arg name="scan_topic" value="scan_velodyne"/>
    <arg name="initial_pose_x" value="3.0"/>
    <arg name="initial_pose_y" value="0.0"/>
    <arg name="initial_pose_a" value="1.5707"/>
  </include>

  <node name="multi_level_map_server" pkg="multi_level_map_server" type="multi_level_map_server">
    <param name="map_file" value="$(find cartographer_turtlebot)/maps/multi_level.yaml" />
  </node>

  <!-- Start the level mux -->
  <node name="level_mux" pkg="multi_level_map_utils" type="level_mux">
    <param name="default_current_level" value="level1"/>
    <remap from="/level_mux/map" to="/map"/>
  </node>

<!--  <node name="level_mux_rviz" pkg="multi_level_map_utils" type="level_mux">
    <param name="default_current_level" value="level1"/>
    <remap from="/level_mux/map" to="/map_rviz"/>
  </node> -->

  <!-- Start the level selector -->
  <node name="level_selector" pkg="multi_level_map_utils" type="level_selector" />

   <!-- Move base -->
<!--  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">-->
<!--    <arg name="laser_topic" default="/velodyne_points" /> -->
<!--    <remap from="map" to="/level_mux/map"/> -->
<!--  </include>-->

  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="laser_topic" value="scan_velodyne"/>
  </include>

</launch>
