<launch>

<!--  <include file="$(find cartographer_turtlebot)/launch/turtlebot_sim_localisation.launch">
    <arg name="configuration_basename" value="turtlebot_sim_localisation2.lua"/>
  </include> -->
  <include file="$(find cartographer_turtlebot)/launch/pointcloud_to_laserscan.launch"/>
<!--  <arg name="map_level1_file" default="/maps/level1/level1.yaml"/>
  <arg name="map_level2_file" default="/maps/level2/level2.yaml"/>

  <arg name="map_file" default="$(arg map_level1_file)"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">-->
<!--    <remap from="map" to="/static_map"/> -->
<!--  </node>-->


  <include file="$(find turtlebot_navigation)/launch/includes/amcl/amcl.launch.xml">
    <arg name="scan_topic"      default="scan_velodyne"/> 
    <arg name="initial_pose_x"  default="3.0"/>
    <arg name="initial_pose_y"  default="0.0"/>
    <arg name="initial_pose_a"  default="1.5"/>
 </include>


   <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
<!--    <arg name="custom_param_file" value="$(find turtlebot_navigation)/param/velodyne_costmap_params_with_ns.yaml"/>-->
    <arg name="laser_topic" value="scan_velodyne"/>
  </include>

</launch>
